@{
    ViewData["Title"] = "Home Page";
}

<div class="landing-container text-left d-flex flex-row justify-content-center align-items-center container-lg">
    <div class="landing-left">
        <h1 class="landing-title">Worlds Most Secure & Progressive Online Auction System</h1>
        <p class="landing-desc">Buy and Sell at your leisure without the fear with SPMN</p>
        <a class="landing-btn" id="register" asp-area="Identity" asp-page="/Account/Register">Get Started and Register Now</a>
    </div>
    <div class="landing-right">
        <div class="landing-img">
            <img src="/imgs/undraw_shopping_bags_tdby.svg" />
        </div>
    </div>
</div>
